source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget SodiumFRP

group Build
  source https://nuget.org/api/v2
  
  nuget fsharplint.fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget xunit.runner.visualstudio
  nuget xunit.runner.console
  nuget FsCheck.Xunit
  nuget Unquote